html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden; /*  Disable scrollbars */
    display: block;  /* No floating content on sides */
}
.css_gameScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -20%;
    top: -20%;
    border:3px solid rgb(56, 56, 56);
    /* background: url('./img/background2.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; */
}

.css_gameCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -20%;
    top: -20%;
    border:3px solid rgb(56, 56, 56);
    /* background: url('./img/background2.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; */
}

.css_gameChat {
    position: absolute;
    width: 80%;
    height: 15.8%;
    bottom: 3%;
    overflow-y: scroll;
    border: 3px solid rgb(56,56,56);
    background: url('./img/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.css_inventory {
    position: absolute;
    bottom: 3%;
}

.css_gameChatInput {
    position: absolute;
    bottom: 0%;
    height: 3%;
    width: 80.3%;
    
}

.css_ui {
    position:absolute;
    width:100%;
    height:100%;
    left: -20%;
    top: -20%;
}

.css_rightPanel {
    position: absolute;
    height: 100%;
    width: 19.5%;
    right: 0%;
}

.css_resize {
    width: 100%;
    height: 10%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

